body {
    font-family: sans-serif;
    background-color: #e6ffd6;
}

.upload {
    width: 20%;
    opacity: 50%;
    padding-bottom: 50px;
}

.file-upload {
    background-color: #cddc39;
    margin: 0 auto;
    padding: 3% 3%;
    width: 50%;
    border-radius: 15px;
    border: solid 1.5px #cddc39;

}

.file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #1FB264;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #15824B;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #1AA059;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

#loading {
    display: none;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    border: dashed 2px #005614;
    background-color: #28a7453b;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #e2f9a7;
    border: 2px dashed #005614;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    font-family: 'HS-Regular';
    font-size: 1.5rem;
    line-height: 1.53;
    color: #000000bf;
    width: 50%;
    margin: 0 auto;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}


.section {
    margin-top: 0px;
}

.title {
    font-family: 'HS-Regular';
    font-size: 4rem;
    line-height: 1.67;
    text-align: center;
    color: #387445;
}

.subtitle {
    font-family: 'HS-Regular';
    line-height: 1.53;
    text-align: center;
    color: #d54f00;
}

.navbar {
    background-color: rgb(205 220 57);
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border: solid 5px #cc74007d;
}

.nav-distance {
    padding: 2.1% 7.7%;
}


.navbar-light .navbar-toggler {
    border-color: #ffffff;
}

.navbar-light .navbar-brand {
    font-family: 'HS-Regular';
    color: rgb(213 55 70 / 89%);
    text-align: left;
    line-height: 1.68;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 0.5rem;
    font-size: 2rem;
    white-space: nowrap;
}

.try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #35465d;
    background-color: #1c2a3c;
}

.try-again-text {
    font-family: 'twayair';
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
}

@media screen and (max-width:600px) {
    html {
        font-size: 8px;
    }

    .navbar-brand {
        font-size: 2rem;
    }
}


element.style {
    width: 65%;
    margin: 0 auto;
}

.fiona-images-div {
    text-align: center;
    margin-top: 30px;
}

.fiona-images {
    display: inline;
    width: 10%;
}

.img-area {
    line-height: 10%;

}

.instagram-id {
    padding-left: 0px;
}

.instagram-link {
    font-family: 'HS-Regular';
    font-size: 1rem;
    line-height: 1.71;
    color: #1900ff;
    text-decoration: underline;
}

.instagram-icon {
    width: 4%;
    vertical-align: middle;
}

.fiona-face {
    width: 7%;
    vertical-align: middle;
    padding-bottom: 15px;
}

.text-center {
    font-family: 'LeeSeoyun';
    font-size: 1.1rem;
    font-weight: bold;
}

.result-message {
    font-family: '1973MimiWorldR';
    font-size: 2.3rem;
    font-weight: bold;
    color: #dc3535;
}

.animal-label {
    width: 30%;
    text-align: left;
    height: 2rem;
}

.bar-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(235, 166, 190, 0.2);
}

.fiona-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.snowwhite-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.elsa-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.cinderella-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.bell-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.tangled-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.water-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

.jasmine-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(235, 166, 190, 1);
}

@font-face {
    font-family: 'HS-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/HS-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeeSeoyun';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/LeeSeoyun.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1973MimiWorldR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.1/1973MimiWorldR.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}